<!-- Card perfil -->
@if (usuario; as u) {
  <div
    class="p-4 border-t border-white/10 cursor-pointer"
    (click)="abrirModal($event)"
  >

    <!-- Contenedor superior -->
    <div class="flex items-center gap-3">

      <!-- Avatar -->
      <div
        class="w-10 h-10 rounded-full bg-indigo-600 flex items-center justify-center font-bold text-white">
        {{ iniciales }}
      </div>

      <!-- Info -->
      <div>
        <p class="text-sm font-semibold">
          {{ u.nombre }} {{ u.apellido }}
        </p>
        <p class="text-xs text-gray-400">
          Administrador
        </p>
      </div>

    </div>

    <!-- Botón cerrar sesión -->
    <button
      class="mt-3 w-full text-sm bg-red-600 hover:bg-red-700 transition text-white py-2 rounded-lg"
      (click)="logout($event)"
    >
      Cerrar sesión
    </button>

  </div>
}

<!-- Modal -->
@if (isOpen && usuario) {
  <div class="fixed inset-0 flex items-center justify-center z-50">

    <div
      class="bg-white rounded-lg shadow-lg w-96 p-6 relative"
      (click)="$event.stopPropagation()"
    >
      <h2 class="text-xl font-bold mb-4 text-black">
        Perfil de Usuario
      </h2>

      <p class="text-black">
        Nombre: {{ usuario.nombre }} {{ usuario.apellido }}
      </p>

      <p class="text-black">
        Cargo: Administrador
      </p>

      <button
        class="mt-4 bg-red-500 text-white px-3 py-1 rounded"
        (click)="cerrarModal()"
      >
        Cerrar
      </button>
    </div>

  </div>
}
