<div class="min-h-screen flex items-center justify-center bg-gray-100">

  <!-- MOBILE -->
  @if (isHandset$ | async) {
    <div class="w-full max-w-sm bg-white rounded-3xl shadow-lg overflow-hidden">

      <!-- Header -->
      <div class="bg-[linear-gradient(-109deg,#122245_50%,#0F2732_100%)] p-6 text-center">
        <div class="mx-auto w-28 h-28 bg-white/10 rounded-3xl flex items-center justify-center mb-4 backdrop-blur-sm border border-white/10 shadow-inner">
          <img src="assets/essalud-logo2.png" class="w-25 object-contain" />
        </div>
        <h1 class="text-white text-xl font-bold">Panel Hospitalario</h1>
        <p class="text-gray-300 text-sm">HOSP. RAMIRO PRIALÉ</p>
      </div>

      <!-- Body -->
      <div class="p-6 text-center">
        <h2 class="text-lg font-semibold mb-1">¿Olvidaste tu contraseña?</h2>
        <p class="text-sm text-gray-500 mb-4">
          No te preocupes.<br>
          Ingresa tu correo electrónico
        </p>

        <label class="block text-sm font-bold text-[#3B484F] mb-1 text-left pl-1">
          Correo Electrónico
        </label>

        <div class="relative mb-6">
          <span class="absolute inset-y-0 left-3 flex items-center text-gray-500">
            <mat-icon class="text-[20px] text-[#6a7282]">email</mat-icon>
          </span>
          <input
            type="email"
            [(ngModel)]="email"
            placeholder="correo@dominio.com"
            class="w-full pl-10 px-4 py-3 border rounded-xl bg-[#F8FAFC] border-[#94A3B8] focus:outline-none focus:ring-1"
          />
        </div>

        <button
          type="button"
          (click)="recuperar()"
          class="w-full bg-[#2F64D6] text-white py-3 rounded-xl"
        >
          Enviar
        </button>


        <button
          (click)="volverLogin()"
          class="text-sm font-medium text-[#2166E8] hover:underline mt-2"
        >
          Volver al inicio de sesión
        </button>
      </div>

      <!-- Footer -->
      <div class="bg-gray-200 text-center text-xs py-2 text-gray-600">
        Acceso restringido únicamente para personal autorizado <br>
        © 2026 Sistema de Gestión Hospitalaria
      </div>
    </div>
  }

  <!-- DESKTOP -->
  @if (isDesktop$ | async) {
    <div class="w-full max-w-140 bg-white rounded-3xl shadow-xl flex flex-col overflow-hidden">

      <div class="bg-[linear-gradient(-109deg,#122245_50%,#0F2732_100%)] px-10 py-10 text-white flex flex-col justify-center items-center text-center ">
        <img src="assets/essalud-logo2.png" class="w-25 object-contain mb-2" />
        <h1 class="text-3xl font-bold">Panel Hospitalario</h1>
        <p class="text-gray-300">HOSP. RAMIRO PRIALÉ</p>
      </div>

      <div class="p-8 text-center">
        <p class="text-2xl font-semibold text-[#202E46] mb-2">
          ¿Olvidaste tu contraseña?
        </p>
        <p class="text-[#3B484F] mb-4">
          Ingresa tu correo electrónico
        </p>

        <label class="block text-sm font-medium mb-1 text-left text-[#3B484F]">
          Correo Electrónico
        </label>

        <div class="relative mb-6">
          <span class="absolute inset-y-0 left-3 flex items-center text-gray-500">
            <mat-icon class="text-[20px] text-[#6a7282]">email</mat-icon>
          </span>
          <input
            type="email"
            [(ngModel)]="email"
            class="w-full pl-10 px-4 py-2 border rounded-lg bg-[#F8FAFC] border-[#94A3B8]"
            placeholder="correo@dominio.com"
          />
        </div>

        <div class="px-8">
          <button
              type="button"
              (click)="recuperar()"
              class="w-full bg-[#2F64D6] text-white py-3 rounded-xl"
            >
              Enviar
            </button>

        </div>

        <div class="mt-4">
          <button
            (click)="volverLogin()"
            class="text-sm font-medium text-[#2166E8] hover:underline"
          >
            Volver al inicio de sesión
          </button>
        </div>
      </div>

      <div class="bg-gray-200 text-center text-xs py-2 text-gray-600">
        <p>Acceso restringido únicamente para personal autorizado</p>
        <p>© 2026 Sistema de Gestión Hospitalaria</p>
      </div>
    </div>
  }

</div>